<div class="card-box">
  <div class="row">
    <div class="col-sm-4">
      Counter: {{count}}
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <button routerLink="/AddCustomer" id="addbtn" class="btn btn-sucess btn-rounded">Add New</button>
    </div>
    <div>
      <input type="text" id="item-input" #SearchItem>
    <button (click)="SearchCustomer(SearchItem.value)" id="addbtn" class="btn btn-sucess btn-rounded">Search</button>

    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
    </div>
  </div>
  <div class="row">
    <div class="table-responsive">
      <table class="table table-bordered table-hover table-striped table-dark table-sm">
        <thead class="thead-light">
          <tr>
            <th>Code</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of Customerdata">
            <td>{{item.id}} </td>
            <td>{{item.firstName}} </td>
            <td>{{item.email}} </td>
            <td>{{item.phone}} </td>
            <td>
              <button routerLink="/Edit/{{item.id}}" class="btn btn-primary">Edit</button> |
              <button (click)="delete(item.id)" class="btn btn-danger">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
  </div>



  <!DOCTYPE html>
  <html lang="en">

  <head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </head>

  <body>

    <div class="container">
      <h2>Image Gallery</h2>
      <p>The .thumbnail class can be used to display an image gallery.</p>
      <p>The .caption class adds proper padding and a dark grey color to text inside thumbnails.</p>
      <p>Click on the images to enlarge them.</p>
      <div class="row" *ngFor="let item of Customerdata">
        <div class="col-md-4">
          <div class="thumbnail">
            <a href="/w3images/lights.jpg" target="_blank">
              <img src="/w3images/lights.jpg" alt="Lights" style="width:100%">
              <div class="caption">
                <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
              </div>
            </a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="thumbnail">
            <a href="/w3images/nature.jpg" target="_blank">
              <img src="/w3images/nature.jpg" alt="Nature" style="width:100%">
              <div class="caption">
                <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
              </div>
            </a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="thumbnail">
            <a href="/w3images/fjords.jpg" target="_blank">
              <img src="/w3images/fjords.jpg" alt="Fjords" style="width:100%">
              <div class="caption">
                <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
              </div>
            </a>
          </div>
        </div>
      </div>

      <HopeTutors-pagination [currentPage]="currentPage" [itemsPerPage]="itemsPerPage"
      [totalItems]="totalItems"
        (pageChanged)="onPageChange($event)"></HopeTutors-pagination>

        <div class="pagination-controls">
          <button (click)="goToPreviousPage()" [disabled]="currentPage === 1">Previous</button>
          <button (click)="goToNextPage()" [disabled]="currentPage === totalPages">Next</button>
          <select (change)="goToPage($event.target.value)">
            <option *ngFor="let page of pageNumbers" [value]="page">{{ page }}</option>
          </select>
        </div>

    </div>

  </body>

  </html>

