<div class="container-fluid" style="margin-top: 10%">
  <div class="row">
    <div class="offset-lg-3 col-lg-2">
      <button class="btn btn-primary btn-lg btn-block" (click)="GetMessage()">Get Message</button>
    </div>

  </div>
  <div class="row">
    <div class="offset-lg-3 col-lg-6">
      <div class="card-box" style="background-color: #ccc">
        <div class="row" style="display: block;">
          <h2 style="text-align: center">Message from First Component {{ReceivedMessage}} </h2>
        </div>
      </div>
    </div>
  </div>
</div>
